<ng-container *ngIf="$contentObservable | async as config">
  <div class="container">
    <header fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.lt-lg="end center">
      <a class="icon" [href]="config.url || '.'" fxLayout="row" fxLayoutGap="5px" fxLayoutGap.gt-sm="25px" fxLayoutAlign="start center">
        <img *ngIf="config.logo?.asset?.url"  [class.lt-md]="mobile"
          [alt]="config.logo.alt"
          [src]="config.logo?.asset?.url"    
        />
        <h1 fxShow="false" fxShow.gt-sm="true" *ngIf="config.title">{{ config.title }}</h1>
        <h2 fxShow="true" fxShow.gt-sm="false" *ngIf="config.title">{{ config.title }}</h2>
      </a>
      <template-top-navigation [items]="config.mainNavigation" [addShoppingCardIcon]="config.addShoppingCardIcon"></template-top-navigation>
    </header>
    <main>
      <div class="bgContainer" fxFlex [style.background-image]="backgroundImage ? 'url('+ backgroundImage +')' : ''">
        <router-outlet fxFill></router-outlet>
      </div>
      <footer fxLayout="column" fxLayoutAlign="start center">
        <div class="social-media" *ngIf="config.socialMediaLinks" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
          <a *ngFor="let item of config.socialMediaLinks" [href]="item.href || '#'">
            <img *ngIf="item.image?.asset" [src]="item.image.asset.url" [alt]="item.image.alt"/>
          </a>
        </div>
        <div *ngIf="config.copyrightText || config.copyrightDate">
          &copy; {{config.copyrightDate ? ((config.copyrightDate | date:'yyyy') + '-' +  (currentDate | date:'yyyy')) : ''}} {{config.copyrightText || ''}}
        </div>
      </footer>
    </main>
  </div>
</ng-container>

