#cart-container {
  position: absolute;
  top: 50px;
  right: 0px;
  padding: 15px;
  background-color: var(--accent);
  border: 1px solid var(--accent);
}

.card-entry {
  padding: 10px;

  &:not(:last-child) {
    border-bottom: 2px solid var(--primary);
  }
}

.amount-btn:hover {
  cursor: pointer;
}