div {
  margin-top: 50px;
  margin-bottom: 15px;

  .button {
    padding: 5px;
    border: 2px solid var(--primary);
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: var(--primary);

    &.inverse {
      border: 2px solid var(--accent);
      color: var(--accent);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
