div {
  padding: 25px;
  text-align: center;
  background-color: var(--primary);
  color: var(--accent);

  img {
    width: 150px;
    height: 150px;
    border-radius: 75px;

    object-fit: cover;
  }
}

.hidden {
  display: none;
}
